*{/* l'étoile ou astérisque séléctionne tous les élément da ma page html */
    font-family: fantasy;
}

body{ /* largeur de ma page 50% de l'écran */
    width: 50%;
    margin: auto;/* gesteion aotomatique des marge pour que mon tableau soit cebtré */
}

table{
    border: 4px solid blue;/* bordure - 3 valeur: épaisseur / type de trait / couleur */
    border-collapse: collapse;/* par défaut la bordure contient 2 traits, pour que le trait soit unique on utilise la
    propriété "collaps" */
    width: 90%;/* largeur du tableau par rapport à son contenant donc ici au body /!\ ne pas oublier la règle de 
    l'héritage en css */
    margin: 25px; /* marge exterieur de la balise*/
}

thead, tfoot{
    background-color: antiquewhite;
    border: 2px solid blue ;
}

tbody{
    border: 3px double blue ;
    
}

th{
    border: 1px dotted blue;/* dotted = pointillés */
    padding: 4px;
    background-color: white (231, 194, 245);
    width: 25%;
}

td{
  font-size: 100%;
  border: 1px dotted violet;
  padding: 5px; /* padding = marge intérieur */
}

td:first-child{/* 1er <td> pour aligner le texte à gauche de la première cellule de chaque rengée */
    text-align: left;
    background-color: brown;


}

caption{
    font-size: 30px;
    color: darkmagenta (81, 0, 128);
    padding: 0.5rem;
    background-color: aqua (215, 208,255);

}
